In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('../data/data_hw1.csv')

In [5]:
# number of records
df.shape

(11914, 16)

In [6]:
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [7]:
# top 3 popular manfacturers
df['Make'].value_counts()[:3]

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

In [8]:
# number of unique Audi car models
df.query('Make == "Audi"')['Model'].nunique()

34

In [9]:
# number of columns with missing values
res = df.isnull().sum() > 0
res.index[res]

Index(['Engine Fuel Type', 'Engine HP', 'Engine Cylinders', 'Number of Doors',
       'Market Category'],
      dtype='object')

In [10]:
# compute median for Engine Cylinders
df['Engine Cylinders'].median(), df['Engine Cylinders'].mode()[0]

(6.0, 4.0)

In [11]:
# fill missing values for above feature using mode
df['Engine Cylinders'].fillna(df['Engine Cylinders'].mode()[0], inplace=True)

In [12]:
# check for na
df['Engine Cylinders'].isnull().sum()

0

In [13]:
df['Engine Cylinders'].median()

6.0

#### what is the value of the first element of the result of linear regression
- Select all the "Lotus" cars from the dataset.
- Select only columns "Engine HP", "Engine Cylinders".
- Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
- Get the underlying NumPy array. Let's call it X.
- Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Invert XTX.
- Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
- Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
- What's the value of the first element of w?

In [14]:
X = df[df['Make'].str.contains('Lotus')][['Engine HP', 'Engine Cylinders']].drop_duplicates().to_numpy()

In [15]:
XTX = X.T @ X

In [16]:
XTX.shape

(2, 2)

In [17]:
XTX_inv = np.linalg.inv(XTX)

In [18]:
y = [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]
w = np.dot(XTX_inv, np.dot(X.T, y))

In [19]:
w.shape

(2,)

In [20]:
w

array([  4.59494481, -63.56432501])

In [21]:
np.dot(X.T, y).shape

(2,)